/* stylelint-disable selector-class-pattern */
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("../fonts/Ubuntu-Regular.woff") format("woff"),
    url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("../fonts/Ubuntu-Medium.woff") format("woff"),
    url("../fonts/Ubuntu-Medium.ttf") format("ttf");
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("../fonts/Ubuntu-Bold.woff") format("woff"),
    url("../fonts/Ubuntu-Bold.ttf") format("ttf");
}

/* Variables */
:root {
  --first-color: hsl(225deg 69% 61%);
  --first-color-second: hsl(225deg 69% 61%);
  --first-color-alt: hsl(225deg 57% 53%);
  --first-color-lighter: hsl(225deg 92% 85%);
  --title-color: hsl(225deg 8% 15%);
  --text-color: hsl(225deg 8% 45%);
  --text-color-light: hsl(225deg 8% 65%);
  --input-color: hsl(225deg 70% 96%);
  --body-color: hsl(225deg 60% 99%);
  --scroll-bar-color: hsl(225deg 12% 90%);
  --scroll-thumb-color: hsl(225deg 12% 80%);
  --color-orange: hsl(36deg 100% 48%);
  --color-blue: hsl(214deg 98% 59%);
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/* Font sizes for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Basic styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem;
  font-family: Ubuntu, sans-serif;
  font-size: var(--normal-font-size);
  background-color: #fff;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reusable classes */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* Layout */
.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
