:root {
    --title-color: hsl(225, 8%, 15%);
    --text-color: hsl(223, 5%, 29%);
    --container-color: hsl(189, 34%, 88%);
    --color-white: hsl(225, 60%, 99%);
    --color-orange: hsl(36, 100%, 48%);
    --color-blue: hsl(214, 98%, 59%);
    --color-red: hsl(0, 98%, 52%);
    --color-light-blue: hsl(214, 100%, 73%);
    --input-color: hsl(225, 70%, 96%);

    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    --large-font-size: 0.938rem;
    --medium-font-size: 0.813rem;
    --small-font-size: 0.75rem;
}